include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/fair3r *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/fair3r/migration *.ini *.py *.mako
recursive-include ckanext/fair3r/public *.*
