:root{
    --fair3r-main-color: #1da2f1;
    --fair3r-secondary-color: #03ca76;
    --fair3r-light-gray: #f9f9f9;
    --fair3r-link-color: #11689f;
}

a{
    color: var(--fair3r-main-color);
}

@font-face {
    font-family: 'Passion One';
    src: url('../../../base/vendor/google-fonts/webfonts/PassionOne-Black.ttf') format("truetype"),
         url('../../../base/vendor/google-fonts/webfonts/PassionOne-Bold.ttf') format("truetype"),
         url('../../../base/vendor/google-fonts/webfonts/PassionOne-Regular.ttf') format("truetype");
}


.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.homepage .hero{
    background: unset;
}

@font-face {
    font-family: 'Chivo';
    src: url('../../../base/vendor/google-fonts/webfonts/Chivo-Black.ttf') format("truetype");
}

.chivo-bold {
  font-family: "Chivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.huge-title{
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
}

.fair3r-huge{
    color: var(--fair3r-main-color);
    font-size: 70px;
}

.secondary-big-title{
    color: gray;
}

.secondary-medium-text{
    font-size: 17px;
    color: #514f4f
}

.secondary-text{
    font-size: 15px;
    color: #514f4f
}

.module-content.search-form{
    padding: 0;
}

.heading.search-title{
    font-weight: 500;
}

@media (min-width: 50em) {
  .homepage .hero {
    background: url("../../../base/images/fair3r_home_wallpaper.png") no-repeat;
    background-size: 90% auto;
    background-position: 444%;
  }
}

@media (min-width: 64em) {
  .homepage .hero {
    background: url("../../../base/images/fair3r_home_wallpaper.png") no-repeat;
    background-size: 45% auto;
    background-position: 90%;
  }
}

.account-masthead{
    background: #d0d0d0;
}

.account-masthead .account ul li{
    border-left: unset;
}

.account-masthead .account ul li a{
    color: black;
}

.account-masthead .account .notifications a span.badge{
    background-color: var(--fair3r-main-color);
    color: black;
}

.masthead{
    background: #f9f9f9;
}

.masthead .main-navbar ul li a{
    color: black;
    font-size: 16px;
}

.masthead .navbar .logo img{
    max-height: 80px;
}

.masthead .main-navbar ul li a:hover{
    background: var(--fair3r-light-gray);
}

.masthead .main-navbar ul li.active a{
    background-color: #595959;
    color: white;
}

.navbar-light .navbar-toggler{
    color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-toggler span.text-white{
    color: unset !important;
}

.featured-add-data-box{
    min-height: 300px;
    display: grid;
    place-items: center;
    color: var(--fair3r-secondary-color);
    text-align: center;
}

.featured-add-data-box .featured-content{
    display: grid;
    place-items: center;
    min-height: 200px;
}

.text-black{
    color: black;
}

.site-footer{
    background: var(--fair3r-light-gray);
}

.site-footer strong{
    color: gray;
}

.site-footer label{
    color: gray;
}

.btn-primary{
    background-color: #66ec87;
    color: black;
}

.btn-primary:hover{
    background-color: #255230;
    color: white;
}

.ics-footer-logo {
    display: block;
    width: 68px;
    height: 31px;
    margin-top: 2px;
    background: url("../../../base/images/ics.png") no-repeat top left;
    text-indent: -900em;
    background-size: 80%;
}

.site-footer a{
    color: var(--fair3r-link-color);
}

.dev-badge{
    background-color: #fbd12f;
    font-weight: bold;
    padding: 6px;
    border-radius: 5px;
    font-size: 16px;
}

.demo-badge{
    background-color: #2f92fb;
    font-weight: bold;
    padding: 6px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}


