{% extends "package/edit.html" %}

{% set ns = namespace(fdf_json='') %}
{% if pkg_dict and pkg_dict.extras %}
  {% for extra in pkg_dict.extras %}
    {% if extra.get('key') == 'fdf_output_json' or extra.key == 'fdf_output_json' %}
      {% set ns.fdf_json = extra.get('value') or extra.value %}
    {% endif %}
  {% endfor %}
{% endif %}

{% block primary_content %}
<article class="module">
  {% block primary_content_inner %}
  <form id="dataset-edit" class="dataset-form form-horizontal fdf-dataset-form" method="post" data-module="basic-form" novalidate>
    <div class="module-content">
      {% block errors %}
      {% if error_summary %}
      <div class="error-explanation alert alert-error">
        <p>{{ _('The form contains invalid entries:') }}</p>
        <ul>
          {% for key, error in error_summary.items() %}
          <li>{{ key }}: {{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      {% endblock %}

      {% block basic_fields %}
      <fieldset>
        {% snippet 'package/snippets/package_basic_fields.html', data=pkg_dict, errors=errors, licences=licences, groups_available=groups_available, dataset_type=dataset_type %}
      </fieldset>
      {% endblock %}

      {% block metadata_fields %}
      <fieldset>
        {% snippet 'package/snippets/package_metadata_fields_no_custom.html', data=pkg_dict, errors=errors %}
      </fieldset>
      {% endblock %}

      {% snippet 'package/snippets/fdf_metadata_panel.html', use_fdf=use_fdf, fdf_json=ns.fdf_json %}
    </div>

    {% block form_actions %}
    <div class="form-actions">
      <button class="btn btn-primary" name="save" type="submit">{{ _('Update') }}</button>
    </div>
    {% endblock %}
  </form>
  {% endblock %}
</article>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if use_fdf %}
  <script type="text/javascript">
    window.FDF_SCHEMA = {{ h.dump_json(fdf_schema) | safe }};

    var existingFDFData = {{ h.dump_json(ns.fdf_json or '{}') | safe }};
    if (existingFDFData && typeof existingFDFData === 'string') {
      try {
        existingFDFData = JSON.parse(existingFDFData);
      } catch (e) {
        existingFDFData = {};
      }
    }

    window.FDF_DATA = existingFDFData || {};
    window.FDF_EXISTING_DATA = window.FDF_DATA;
  </script>
  {% asset 'fair3r/fair3r-js' %}
  {% endif %}
{% endblock %}
