{% extends "package/base.html" %}

{% block subtitle %}{{ _('Create Dataset') }} - {{ _('Fair3R Dataset Form') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Datasets'), named_route='dataset.search' %}</li>
  <li class="active"><a href="">{{ _('Create Dataset') }} - {{ _('Fair3R Dataset Form') }}</a></li>
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>{{ _('Fair3R Dataset Form (FDF)') }}</h1>
            <div class="alert alert-warning" role="alert">
              <h4 class="alert-heading">{{ _('New fair3r dataset form here') }}</h4>
              <p>{{ _('The form replacing the standard CKAN form will be implemented here.') }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('Fair3R Dataset Form') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          The Fair3R Dataset Form (FDF) is a specialized form for creating datasets
          with enhanced metadata fields.
          {% endtrans %}
        </p>
      </div>
    </section>
  {% endblock %}
{% endblock %}
