<div role="main">
  <div class="main hero">
    <div class="container">
    <br>
      <div class="row">
        <div class="col-md-6">
          {% block promoted %}
            {% snippet 'home/snippets/promoted.html' %}
          {% endblock %}
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              {% block search %}
                {% snippet 'home/snippets/search.html', search_facets=search_facets %}
              {% endblock %}
          </div>
          <div class="col-md-6"></div>
      </div>
    </div>
  </div>
  
  <div class="main module-feeds">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            {% block featured_add_data %}
                {% snippet 'home/snippets/featured_add_data.html' %}
            {% endblock %}
        </div>
        <div class="col-md-4">
          {# Note: this featured_group block is used as an example in the theming
             tutorial in the docs! If you change this code, be sure to check
             whether you need to update the docs. #}
          {# Start template block example. #}
          {% block featured_group %}
            {% snippet 'home/snippets/featured_group.html' %}
          {% endblock %}
          {# End template block example. #}
        </div>
        <div class="col-md-4">
          {% block featured_organization %}
            {% snippet 'home/snippets/featured_organization.html' %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
